/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */


 @import 'bootstrap';
 @import 'movies';

 a {
   color: inherit !important;
   text-decoration: none !important;
  }
 a.hover{
   color: #d2d2d2 !important;
   text-decoration: none !important;
  }

  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 1px solid;
    background-color: #4d2147;
    color: white;
}
.nav{
  background-color: #4d2147;
  color: white;
  padding: 1rem;
}
li.nav-item.nav-link.active {
  background-color: transparent;
  border: 1px solid;
}
.btn-primary {
  color: #fff;
  background-color: #022147;
  border-color: #022147;
}