<div class="container">
<div class="row">
<div class="col-md-12 my-5"
<nav>

  <ul class="nav nav-pills">
    <li class="nav-item nav-link active"><%= link_to 'Home', root_path %></li>
    <li class="nav-item nav-link "><%= link_to 'Movies', movies_path %></li>
    <li class="nav-item nav-link "> <%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
  </ul>

</nav>
</div>
</div>
</div>
